# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docview

# Build outputs
**/bin/
**/obj/
**/dist/

# Node / React
**/node_modules/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

appsettings.Development.json
appsettings.*.json
!appsettings.json


# SQLite WAL/journal files
*.db-shm
*.db-wal
*.db

# Claude Code
.claude/
